.materialboxed{
    display: inline;
}

.sidenav-trigger {
    position: fixed;
    bottom: 50vh;
    left: 2vh;
}

.user-view img {
    margin-left: 50pt;
    margin-bottom: 10pt;
}

#dropdown1 {
    left: -20pt;
}

#modal1 {
    width: 600px;
    height: 300px;
}

.pModal{
    display: none;
}

.pModal img{
    display: none;
}

.pilhaContent{
    cursor: pointer;
}

/* Visualizador de imagens de cada card */
#modalPilhaView {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

#modalPilhaImage{
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    height: auto; 
    width: auto; 
    max-width: 80%; 
    max-height: 80%;
}

#modalPilhaCaption {
    display: block;
    position: absolute;
    text-align: center;
    align-content: center;
    color: #ccc;
    margin-left: auto;
    margin-right: auto;
    top: 2%;
    left: 50%;
}

#modalPilhaClose {
    position: absolute;
    top: 1%;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
}

#modalPilhaClose:hover,
#modalPilhaClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#modalPilhaBack{
    position: absolute;
    top: 50%;
    left: 40px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
}

#modalPilhaBack:hover,
#modalPilhaBack:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#modalPilhaNext{
    position: absolute;
    top: 50%;
    right: 40px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
}

#modalPilhaNext:hover,
#modalPilhaNext:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modalSlider{
    position: absolute;
    z-index: 1;
    border: auto;
}

#modal2 {
    width: 300pt;
}

.menuHide {
    display: none;
}

.chip {
    margin-top: 10pt;
}


.pilha{
    position:relative;
    width:100%;
    padding-bottom:75%;
}

.pilhaContent{
    position:absolute;
    width:100%;
    height:100%;
}